.songsMain{
    background-color: var(--black-color)!important;
    padding: 32px;
}

.topText{
    font-size: 20px!important;
    color: var(--white-color);
    text-align: left;
    padding-bottom: 20px;
    font-weight: 600!important;
    font-family: var(--fontname)!important;
}

.tabcolor{
    color: var(--white-color)!important;
    font-size: 16px!important;
    font-weight: 600!important;
    font-family:var(--fontname)!important;
    text-transform: capitalize!important;
}
.tabcolor:hover{
    border-bottom: 5px solid var(--green-color)!important;
}

.tabmain{
    margin-bottom: 20px;
}